aiodns==3.0.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
brotli-bin==1.0.9
brotli==1.0.9
brotlipy==0.7.0
bzip2==1.0.8
ca-certificates==2021.10.8
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
cryptography==36.0.1
docopt==0.6.2
idna==3.1
libbrotlicommon==1.0.9
libbrotlidec==1.0.9
libbrotlienc==1.0.9
libffi==3.4.2
libzlib==1.2.11
multidict==5.2.0
openssl==1.1.1l
orjson==3.6.5
pip==21.3.1
pipreqs==0.4.10
py-cord==1.7.3
pycares==4.0.0
pycparser==2.21
pynacl==1.5.0
pyopenssl==21.0.0
pysocks==1.7.1
python==3.10.1
python_abi==3.10
requests==2.27.1
setuptools==60.5.0
six==1.16.0
sqlite==3.37.0
tk==8.6.11
typing-extensions==4.0.1
typing_extensions==4.0.1
tzdata==2021e
ucrt==10.0.20348.0
urllib3==1.26.8
vc==14.2
vs2015_runtime==14.29.30037
wheel==0.37.1
win_inet_pton==1.1.0
xz==5.2.5
yarg==0.1.9
yarl==1.7.2
